@use 'scss/config/color';

$-color: color.$dark;
$-box-shadow: 0px 0px 1rem 0px rgba(color.$dark, 0.2) !default;
// $box-shadow: 0px 0px 1rem 0px rgba(color.$dark, 0.2) !default;

@function -box-shadow() {
    @return $-box-shadow or (0 0.5rem 1rem rgba(color.$dark, 0.15));
}

@mixin box-shadow($box-shadow: null, $color: null) {
    @if $box-shadow {
        $-box-shadow: $box-shadow !global;
    }
    @if $color {
        $-color: $color !global;
    }
}

%box-shadow {
    box-shadow: -box-shadow();
}
