.register {
    & .popup__wrapper {
        width: 600px;
    }
    span[data-required='required']::before {
        content: '*';
    }
    form {
        & > span,
        p {
            font-size: 1.4rem;
        }
    }
}
