.vscode
*.code-workspace

node_modules
package-lock.json

test

gulp/ftpConfig.js

src/scss/test.scss

www/config/dbconfig.php

www/components/**

www/views/layouts/**
www/views/layout/**

www/views/pages/**
www/views/sections/**
www/views/popups/**
www/views/email/**

www/public/css/**
www/public/js/**
www/public/fonts/**

!.gitkeep
