.vscode
*.code-workspace

node_modules
package-lock.json

test

gulp/ftpConfig.js

www/config/dbconfig.php
www/components/**
www/layout/**
www/views/pages/**
www/views/sections/**
www/views/popups/**
www/views/email/**
www/public/css/**
www/public/js/**
www/public/fonts/**
