.vscode
*.code-workspace

node_modules
package-lock.json

test

gulp/ftpConfig.js

www/config/dbconfig.php
www/components/**
www/layout/**
www/views/**
www/public/css/**
www/public/js/**
www/public/fonts/**
