%css-icon {
  position: relative;
  @extend %flex-c;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 16px;
  }

  &:hover::before {
    opacity: 0.9;
  }
}

%css-x-icon {
  @extend %css-icon;

  &::before {
    transform: rotate(-135deg);
  }

  &::before {
    transform: rotate(135deg);
  }
}
