@use 'scss/config/config';
@use 'scss/config/viewport';
@use 'scss/common/grid';
@use 'assets/scss/flex';

.footer {
    & {
        @include grid.grid-area(footer);
        @extend %container;
        @if config.$CONTAINER_GAP {
            margin-bottom: 0;
        }
    }

    $footer: &;

    &__top,
    &__bottom,
    &__wrapper {
        @extend %wrapper;
        @extend %flex-row-sb-c;
    }

    &__logo {
        flex: 1 0 auto;
    }

    &__nav {
        @extend %flex-row-sb-c;
        flex: 3 0 auto;
    }

    &__link {
    }
}
