@mixin font-face($font-family) {
    @each $font-weight in $font-weights {
        $font-weight-verbal: map-get($font-weight-list, $font-weight);

        @font-face {
            font-family: "#{$font-family}";
            src        : url("/public/fonts/#{$font-family}/#{$font-family}-#{$font-weight-verbal}.eot");
            src        : local("#{$font-family}"),
            local("#{$font-family}-#{$font-weight-verbal}"),
            local("#{$font-family} #{$font-weight-verbal}"),
            url("/public/fonts/#{$font-family}/#{$font-family}-#{$font-weight-verbal}.eot?#iefix") format("embedded-opentype"),
            url("/public/fonts/#{$font-family}/#{$font-family}-#{$font-weight-verbal}.woff2") format("woff2"),
            url("/public/fonts/#{$font-family}/#{$font-family}-#{$font-weight-verbal}.woff") format("woff"),
            url("/public/fonts/#{$font-family}/#{$font-family}-#{$font-weight-verbal}.ttf") format("truetype"),
            url("/public/fonts/#{$font-family}/#{$font-family}-#{$font-weight-verbal}.svg##{$font-family}-#{$font-weight-verbal}") format("svg");
            font-weight: $font-weight;
            font-style : normal;
        }
    }
}
