%d-block {
    display: block;
    box-sizing: border-box;
}

%m0p0 {
    margin: 0;
    padding: 0;
}

html {
    @extend %m0p0;
    font-size: 62.5%;
}

body {
    @extend %d-block;
    @extend %m0p0;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.25;
}

%h {
    @extend %d-block;
    font-weight: bolder;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;

    // margin: 1em;
    // padding: 1em;
}
h1 {
    @extend %h;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
}
h2 {
    @extend %h;
    font-size: 2em;
}
h3 {
    @extend %h;
    font-size: 1.75em;
}
h4 {
    @extend %h;
    font-size: 1.5em;
}
h5 {
    @extend %h;
    font-size: 1.25em;
}
h6 {
    @extend %h;
    font-size: 1em;
}

header {
    @extend %d-block;
}
footer {
    @extend %d-block;
}
main {
    @extend %d-block;
}
aside {
    @extend %d-block;
}
nav {
    @extend %d-block;
}
section {
    @extend %d-block;
}
article {
    @extend %d-block;
}

pre {
    @extend %m0p0;
}
code {
    @extend %m0p0;
}

div {
    @extend %d-block;
    @extend %m0p0;
}
a {
    @extend %d-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
span {
    @extend %d-block;
}
p {
    @extend %d-block;
    @extend %m0p0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    @extend %d-block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

%font {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1em;
    line-height: 1.25;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    @extend %d-block;
    @extend %font;
    cursor: pointer;
    text-align: center;

    &:focus,
    &.focus {
        outline: none;
    }

    &:disabled,
    &.disabled {
        opacity: 0.65;
    }
}

%ist {
    margin: 0;
    box-sizing: border-box;
}
form {
    @extend %d-block;
    @extend %m0p0;
}
input {
    @extend %ist;
    @extend %font;
    // overflow: visible;
}
select,
option {
    @extend %ist;
    @extend %font;
}
textarea {
    @extend %ist;
    @extend %font;
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    @extend %m0p0;
}
ul li {
    @extend %m0p0;
    list-style: none;
}

[hidden] {
    display: none;
}
