$width: 100px !default;
$height: 100px !default;
$url: '../img/logo/logo.png' !default;

.logo {
    $logo: &;

    & {
        width: $width;
        height: $height;
        background: url($url) center / contain no-repeat;
    }

    &_header {
        @extend #{$logo};
    }
    &_footer {
        @extend #{$logo};
    }
}
