%wrapper {
    max-width: $content-max-width;
    min-width: $content-min-width;
    margin   : $wrapper-margin;
    padding  : $wrapper-padding;

    @if $DEV {
        // border: 1px solid #ddffdd;
        background-color: #a0ffa070;
    }
}
