// @use 'scss/config/config';
@use 'config';
// @use 'assets/scss/flex';

//* Viewport
// bootstrap
$breakpoint-xl: 1200px !default;
$breakpoint-lg: 992px !default;
$breakpoint-md: 768px !default;
$breakpoint-sm: 576px !default;
$breakpoint-xs: 0 !default;

$max-width-xl: 1140px !default;
$max-width-lg: 960px !default;
$max-width-md: 720px !default;
$max-width-sm: 540px !default;

//* container & content size
$container-max-width: 1920px !default;
$content-max-width: 1366px !default;
$content-min-width: 320px !default;
$container-gap: 100px !default;

//* container&wrapper margin&padding
$container-margin: 0 auto !default;
$container-padding: 0 !default;

$wrapper-margin: 0 auto !default;
$wrapper-padding: 1rem 0 !default;

@function container-margin() {
    @if config.$CONTAINER_GAP {
        @return $container-gap auto;
    } @else {
        @return $container-margin;
    }
}

%container {
    max-width: $container-max-width;
    min-width: $content-min-width;
    margin: container-margin();
    padding: $container-padding;

    @if config.$DEV {
        margin-bottom: 1px;
        border-top: 1px solid #ff0000;
        border-bottom: 1px solid #ff0000;
        background-color: #ffa0a070;
    }
}

%wrapper {
    max-width: $content-max-width;
    min-width: $content-min-width;
    margin: $wrapper-margin;
    padding: $wrapper-padding;

    @if config.$DEV {
        margin-bottom: 1px;
        border-top: 1px solid #00ff00;
        border-bottom: 1px solid #00ff00;
        background-color: #a0ffa070;
    }
}

@if config.$ASIDE {
    .content {
        & {
            @extend %container;
        }

        &__wrapper {
            @extend %wrapper;
            @extend %flex-row-sb-fs;
        }
    }
}
