@use 'scss/config/config';
@use 'scss/config/viewport';
@use 'scss/common/grid';
@use 'assets/scss/flex';

.header {
    & {
        @include grid.grid-area(header);
        @extend %container;
        @if config.$CONTAINER_GAP {
            margin-top: 0;
        }
    }

    $header: &;

    &__top,
    &__bottom,
    &__wrapper {
        @extend %wrapper;
        @extend %flex-row-sb-c;
        // @extend %flex-wrap;
        // @extend %flex-wrap-reverse;
    }

    &__logo {
        @include flex.flex(0, 0, 100px);
        // flex          : 0 0 100px;
        // flex: 1 0;
        // flex-shrink: 0;
        // height: 50px;
        // width: 100px;
        // margin: -1rem 0;
        // background: url($logo-url) center / contain no-repeat;
    }

    &__nav {
        @extend %flex-row-sa-c;
        // flex: 3 0 auto;
        // flex: 0 0 auto;
        // flex: 1 0;
        // flex-shrink: 0;
    }

    &__link {
        margin: 0 0.5em;
    }
}
