.link {
    $link: &;

    & {
        color: $link-color;
    }

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }

    &_inline {
        color  : $color-primary;
        display: inline;

        &:hover {
            text-decoration: underline;
        }
    }
}
