@mixin position($position: a, $top: null, $left: null, $right: null, $bottom: null) {
    $position-map: (
        a: absolute,
        f: fixed,
        r: relative,
        s: sticky,
    );

    position: #{map-get($position-map, $position)};

    @if $top!=null {
        top: $top;
    }

    @if $left!=null {
        left: $left;
    }

    @if $right!=null {
        right: $right;
    }

    @if $bottom!=null {
        bottom: $bottom;
    }
}

%position {
    &-r {
        @include position(r, 0, 0, 0, 0);
    }
    &-a {
        @include position(a, 0, 0, 0, 0);
    }
}
